button.nav-link
{
    background: #f5f5f5;
    border-radius: 0;
    border: none;

    &:focus{
        outline: none;

    }
    &.active:hover{
        color: white;
    }
    & :active{
        outline: none;
    }
    &.active:focus{
        outline: none;
    }
}